@import "tailwindcss";

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    /* --foreground: #ededed; */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.logo{
  height: 39px;
  width: auto;
}
@layer components {
  .box{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 30px;
    img{
      width: 330px;
      height: 190px;
      border-radius: 16px;
      padding: 6px;
      margin-top: 32px;
    }
    div{
      padding-left: 10px;
      h2{
        line-height: 22px;
        font-size: 18px;
        font-weight: 600;
        color: rgb(85 138 255 );
        margin-bottom: 25px;
      }
      span{
        font-size: 14px;
        font-weight: 500;
      width: 360px;
      height: auto;
      display: block;
      line-height: 17px;
      }
    }
  }

  
  .grid-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 370px;
    width: auto;
    background-color: white;
    border-radius: 11px;
    transition: all;
    h2 {
      font-size: 17px;
      font-weight: 600;
      color: #152f5b;
      padding-left: 10px;
    }
    p {
      color: #b3c3e6;
      margin-bottom: 10px;
      font-weight: 500;
      padding-left: 10px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 11px 11px 0px 0px;
      object-fit: cover;
    }
    &:hover {
      filter: brightness(1.1);
      transform: scale(1.05);
      box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }
  }
  .wrapper-txt {
    width: 600px;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 0px 30px 30px 0px;
    h4 {
      font-weight: 600;
      font-size: 24px;
      padding-bottom: 10px;
    }
    div {
      font-weight: 400;
      padding-bottom: 10px;
    }
    a {
      color: rgb(40 95 232);
      font-weight: 600;
      text-transform: uppercase;
      font-size: 14px;
    }
  }
  .wrapper-box {
    display: flex;
    border-radius: 30px;
    margin-bottom: 50px;
    height: 330px;
    width: 900px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px 0px 0px 30px;
    }
  }
}

.c-container {
  max-width: 1096px !important;
  margin: 0 auto !important;
}

@media (max-width: 992px) {
  .wrapper-box {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    img {
      border-radius: 30px 30px 0px 0px;
      height: auto;
    }
    .wrapper-txt {
      width: auto;
      border-radius: 0px 0px 30px 30px;
    } 
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 80ch;
    }
  }
}

@media (max-width: 666px) {

  .wrapper-box {
    margin-bottom: 15px;
    width: 500px;
  }

  .grid-item {
    width: 90%;
    margin-left: 20px;
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 50ch;
    }
  }
}
